html {
	font-size: 10px;
}

.nav-bar {
	position: relative;
	display:flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	background-color: #BD4B4B;
	padding: 20px;
}

.nav-bar::after { 
  position:absolute;
  bottom: -50px;
  left: 0px;
  width: 100%;
  content:" ";
  background: 
  radial-gradient(circle at 50% 0%, #BD4B4B 25%, #EEEEEE 26%, #EEEEEE 40%);
  background-color: #150B0E ;
  background-size:40px 100px;
  height:50px;
  background-repeat: repeat-x;
}

.cv-button {
	background-color: #ffffff;
	border-color: #B13126;
	border-radius: 10px;
	color: #000000;
	font-family: 'Varela Round', sans-serif;
	font-weight: bold;
	font-size: 3rem;
	padding: 15px;
}

.welcome-banner {
	background-color: #EEEEEE;
	height: 90vh;
	
}

.navigation-links {
	color: #ffffff;
	text-decoration: none;
	font-family: 'Varela Round', sans-serif;
	font-size: 3rem;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #2866c9;
}

.hi-there-welcome-text {
	display:flex;
	align-items: center;
	justify-content: center;
	font-family: 'Varela Round', sans-serif;
	font-size: 6rem;
	padding-top: 10%;
	color: #000000;
	/*deciding whether to keep element*/
/*    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #EFB7B7;*/
}

.welcome-text { 
	display:flex;
	align-items: center;
	justify-content: center;
	font-family: 'Varela Round', sans-serif;
	font-size: 11rem;
	background-color: #EEEEEE;
	margin: 0;
	color: #000000;
/*deciding whether to keep element*/
/*	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: #EFB7B7;*/
}

.about-me-title {
	display:flex;
	align-items: center;
	justify-content: center;
	padding-top: 0;
	font-family: 'Varela Round', sans-serif;
	font-size: 3rem;
}

.scallop-mid-section {
	background-color: #BD4B4B;
	padding: 50px;
	height: 100vh;
	position: relative;
	
}
.about-me-text {
	display: row;
	align-items: center;
	justify-content: center;
	margin: auto;
	width: 25%;
	padding-top: 0;
	padding-bottom: 30px;
	font-family: 'Varela Round', sans-serif;
	font-size: 2rem;
}

.profile-photo {
	width: 15%;
	margin: auto;
	border-radius: 25%;
	display: flex;
}

/*deciding whether I want to add scallops or not, so keep not to re-write*/

/*.scallop-mid-section::before {
  position:absolute;
  top: -5px;
  left: 0px;
  width: 100%;
  content:" ";
  background:
  radial-gradient(circle at 50% 0%, white 25%, #5496ff 26%, #5496ff 40%);
  background-color: white ;
  background-size:40px 100px;
  height:50px;
  background-repeat: repeat-x;
}

.scallop-mid-section::after {
  position:absolute;
/*  top: 50px;*/
/*  left: 0px;
  width: 100%;
  content:" ";
  background:
  radial-gradient(circle at 50% 0%, #5496ff 25%, white 26%, white 40%);
  background-color: #5496ff ;
  background-size:40px 100px;
  height:50px;
  background-repeat: repeat-x;
}*/*/

.portfolio-section {
	background-color: #EEEEEE;
	height: 100vh;
}

.portfolio-title {
	display:flex;
	align-items: center;
	justify-content: center;
	font-family: 'Varela Round', sans-serif;
	font-size: 3rem;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: 'Varela Round', sans-serif;
	font-weight: bold;
	color: #2a2e32;
	font-size: 2rem;
	height: 40vh;
}

footer {
	background-color: #BD4B4B;
	height: 20vh;
}

.dotted-border {
	border-style: dotted;
	border-color: #000000;
	border-width: 5px;
	width: 25%;
	height: 75%;
	border-radius: 10px;
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
}

.footer-text {
	font-family: 'Varela Round', sans-serif;
	font-size: 3rem;
	padding-top: 40px;
	padding-left: 10px;
}

.social-icons {
	width: 5%;
}
